@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300&family=Josefin+Slab:wght@300&family=Lora&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Josefin Slab, sans-serif;
    font-weight: bold;
    color: #337ca0ff;
}

/*Logo and Headings Style*/

h1, h2 {
    font-family: Lora, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #840032ff;
}

#sitelogo {
    float: left;
    font-size: 300%;
    margin-left: 10px;
}

/*Navigation CSS*/

#nav-menu {
    font-size: 120%;
    letter-spacing: 5px;
}

#nav-menu ul {
    float: right;
}

#nav-menu li {
    float: left;
    margin-left: 141.5px;
    padding-left: 50px;
    list-style-type: none;
}

#nav-menu a {
    text-decoration: none;
    color: inherit;
    font-weight: 800;
}

#nav-menu, #sitelogo {
    line-height: 75px;
}

#nav-menu a:hover {
    border-bottom: 2px dashed #840032ff;
}

.active {
    border-bottom: 2px solid #840032ff;
}

/*Hero Image & Text*/

#hero-image-text, #hero-image-text h2 {
    color: #fff;
}

#hero-image-text {
    font-size: 150%;
    font-family: Lora, Times New Roman, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left:after 10px;
    background-color: rgba(133, 0, 50, 0.3);
    bottom: 30px;
    right: 150px;
    position:absolute;
}

#hero-section {
    overflow: hidden;
    height: 600px;
    width: 100%;
}

#hero-image {
    height: 600px;
    width: 100%;
    background-image: url(../images/hero_image.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*Lines 83-86 add a zoom-in effect to the hero image*/
    animation-name: heroimage-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

/*Hero Image CSS Animation (Took inspiration from the Love Running Project) */

@keyframes heroimage-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1)
    }
}


